<h1>Add Your Dog</h1>

<div class="form-container col-12">
  <div class="form-inputs col-6">
    <%= simple_form_for @dog do |f| %>
      <%= f.input :name %>
      <%= f.input :breed %>
      <%= f.input :age %>
      <%= f.input :description %>
      <%= f.input :address, as: :text %>
      <%= f.input :photo, as: :file %>
      <div class="form-btns">
        <%= link_to "Go back", dogs_path, class: "btn btn-outline-secondary" %>
        <%= f.button :submit, class: "btn btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
</div>
