<h1>Meet <%= @dog.name %>!</h1>

<div class="dog-container col-12">
  <%= cl_image_tag @dog.photo.key, crop: :fill %>
  <div class="card-body" style="width: 20rem";>
    <h3 class="card-title">Breed: <em> <%= @dog.breed %> </em></h3>
    <p class="card-text"><%= @dog.description %></p>
    <%= link_to "Book Dog", dogs_path, type: "button", class: "btn btn-outline-dark" %>
  </div>
</div>

<div class="plain-text-button">
  <p><%= link_to "< Back", dogs_path %></p>
</div>
