<h1>Make a new booking</h1>

<div class="form-container col-12">
  <div class="form-inputs col-6">
    <%= simple_form_for [@dog, @booking] do |f| %>
      <%# <%= f.error_notification %>
      <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= link_to 'Cancel', dogs_path, class: 'btn btn-outline-secondary' %> or
      <%= f.submit class: 'btn btn-outline-secondary' %>
    <% end %>
  </div>
</div>

