
<% if @booking.user == current_user %>
  <h1>Confirm you booking</h1>
  <h1>Your dog is:<%= @booking.dog.name %></h1>
  <%# <%= cl_image_tag @booking.dog.photo.key, crop: :fill %>%>  Image not working
  <h1>Your booking will start at:<%= @booking.start_date %></h1>
  <h1>Your booking will end at:<%= @booking.end_date %></h1>
<% else %>
  <h1>You have no bookings</h1>
<% end %>
<div class="plain-text-button">
  <p><%= link_to "< Back", dogs_path %>  <%= link_to "Confirm", dashboard_path %></p>
</div>