<div class="booking-container ">
  <% if @booking.user == current_user %>
    <h1>Last Step!</h1>
    <h1>Confirm your booking:</h1>
    <h4><strong>Name of Dog:</strong></h4>
    <h4 style="color:darkgreen"><%= @booking.dog.name %></h4>
    <%# <%= cl_image_tag @booking.dog.photo.key, crop: :fill %> <em>Image not working</em>
    <h4><strong>Your booking starts at:</strong></h4>
    <h4 style="color:darkgreen"><%= @booking.start_date %></h4>
    <h4><strong>Your booking ends at:</strong></h4>
    <h4 style="color:darkgreen"><%= @booking.end_date %></h4>
  <% else %>
    <h1>You have no bookings</h1>
  <% end %>
  <div class="plain-text-button">
    <%= link_to "Cancel", dogs_path, type: "button", class: "btn btn-outline-dark" %>
    <%= link_to "Confirm", dashboard_path, type: "button", class: "btn btn-outline-dark"%>
  </div>
</div>

