<div class="banner">
  <div class="home-container">
    <h1>"Life without a dog is like an unsharpened pencil. It has no point."<h1>
    <h3>Find your new best friend and book him today!</h3>
    <%= link_to "View Dogs", dogs_path, type: "button", class: "btn btn-outline-light" %>
    <!-- <button type="button" class="btn btn-outline-light">View Dogs</button> -->
  </div>
</div>

<div class="d-flex justify-content-around row">
  <div class="step-container col-sm-3">
    <%= image_tag "searching.svg" %>
    <h3>Search for your buddy</h3>
    <p>Look through a wide selection of dogs and find your perfect fit. Filter by breeds, age, rating, etc.</p>
  </div>
  <div class="step-container col-sm-3">
    <%= image_tag "map.svg" %>
    <h3>Map it out</h3>
    <p>We made it easy for you to see which dogs are in your neighborhood. </p>
  </div>
  <div class="step-container col-sm-3">
    <%= image_tag "booked.svg" %>
    <h3>Book and wait...</h3>
    <p>After you've booked you will receive details of when and where you can pick up your new friend!</p>
  </div>
  <div class="step-container col-sm-3">
    <%= image_tag "dog.svg" %>
    <h3>Have fun!</h3>
    <p>Go out and explore the world together. Share goals and dreams, they will be forever loyal to you.</p>
  </div>
</div>
